version: "3.8"

services:
  web:
    build: .
    container_name: vuln-bank-web
    ports:
      - "5000:5000"
    environment:
      - DB_NAME=vulnerable_bank
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db
    volumes:
      - ./static/uploads:/app/static/uploads
    networks:
      - vuln_network
    restart: unless-stopped

  db:
    image: postgres:13
    container_name: vuln-bank-db
    environment:
      - POSTGRES_DB=vulnerable_bank
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - vuln_network
    restart: unless-stopped
    ports:
      - "5432:5432"
volumes:
  postgres_data:

networks:
  vuln_network:
    driver: bridge
